oopenapi: 3.0.3

info:
  version: 0.0.1
  title:  [AOS 2023] Env铆o de notificaciones relacionadas con el funcionamiento del taller 
  description: >
    ## **[AOS 2023]**  API REST para la gesti贸n de Notificaciones.
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  contact:
    name: Equipo 5 - Arquitectura Orientada a Servicios
    url: 'https://moodle.upm.es/titulaciones/oficiales/course/view.php?id=528'
    email: miw.etsisi@upm.es

servers:
- url: http://127.0.0.1:80/api/v1

tags:
  - name: ' Notificaci贸n'

paths:
  /notificaciones:
    get:
      summary: Obtiene todas las notificaciones
      description: |
        La siguiente tabla define los c贸digos de estado que puede devolver este endpoint
        
        | Status Code | Descripci贸n | Motivo                             |
        | ------------| ------------| -----------------------------------|
        | **200**     | OK          | Listado de notificaciones          |
        | **404**     | NOT FOUND   | No hay ninguna notificaci贸n        |
      operationId: plataforma_cget
      tags: [ ' Notificaci贸n' ]
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/orderParam'
        - $ref: '#/components/parameters/orderingParam'
      responses:
        '200':
          description: Lista de plataformas disponibles
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                type: object
                properties:
                  plataformas:
                    description: array de plataformas
                    type: array
                    items:
                      $ref: '#/components/schemas/Notificacion'
                  links:
                    description: Enlaces de paginaci贸n
                    readOnly: true
                    type: object
                    properties:
                      prevPage:
                        $ref: '#/components/schemas/Link'
                      nextPage:
                        $ref: '#/components/schemas/Link'
              examples:
                plataformas-example:
                  $ref: '#/components/examples/notificaciones-example'
        '404':
          $ref: '#/components/responses/Response_404'
  
  /notificaciones/{notificacion_id}:
    parameters:
      - $ref: '#/components/parameters/notificacionId'
    options:
      summary: Proporciona la lista de los m茅todos HTTP soportados por esta ruta.
      description: Devuelve una cabecera `Allow` con la lista de m茅todos HTTP soportados (separados por comas).
      operationId: aeronave_options
      tags: [ ' Notificaci贸n' ]
      responses:
        '204':
          description: 'cabecera `Allow` &lt;El cuerpo de la respuesta est谩 vac铆o&gt;'
          headers:
            Allow:
              $ref: '#/components/headers/Allow'
    get:
      summary: Obtiene una notificaci贸n identificada por `notificaci贸nId`
      description: |
        La siguiente tabla define los c贸digos de estado que puede devolver este endpoint
        
        | Status Code | Descripci贸n | Motivo                             |
        | ------------| ------------| -----------------------------------|
        | **200**     | OK          | Si la notificaci贸n existe          |
        | **404**     | NOT FOUND   | Si no existe la notoficaci贸n       |
      operationId: notificacion_get
      tags: [ ' Notificaci贸n' ]
      responses:
        '200':
          description: Notificaci贸n
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notificacion'
        '404':
          $ref: '#/components/responses/Response_404'
  #/notificaciones/{Id_Trabajo}:
    #get:
      
  

components:
  schemas:

    Notificacion:
      title: '  Notificaciones sobre las modificaciones de cambio de estado de los trabajos'
      description: >
        Comunicaci贸n, cualquiera que sea su denominaci贸n, realizada por un Taller por la que manifiesta cualquier modificaci贸n sobre el trabajo de un veh铆culo en considerarse obligado por un tratado multilateral concluido por un contrato.
      type: object
      properties:
        notificacion:
          type: object
          required: [id, vin, id_trabajo, estado]
          properties:
            id:
              $ref: '#/components/schemas/Id_Notificacion'
            id_trabajo:
              $ref: '#/components/schemas/Id_Trabajo'
            estado:
              $ref: '#/components/schemas/Estados_Trabajos'
            detalle:
              description: Texto con informaci贸n adicional de la notificaci贸n
              type: string
      example: { "notificacion": { "id_plataforma":"P03-567-Z", "id_aeronave":"EC-XYZ" } } 
              


    Id_Notificacion:
      title: Identificador 煤nico de notificaci贸n
      type: string
      pattern: "^[0-9]{4}-[0-9]{4}-[0-9]{2}$"

    Id_Trabajo:
      type: string
      pattern: "^[0-9]{4}-[0-9]{4}$"
    
    #VIN:
    #  title: 'Cochecito con emoji'                                                                                    # CAMBIAR
    #  description:
    #  type: string
    #  pattern: /^[A-HJ-NPR-Z\d]{8}[\dX][A-HJ-NPR-Z\d]{2}\d{6}$/i
    
    Estados_Trabajos:
      description: |
        Estado del trabajo:
        * 'Creado':       Se ha dado de alta un trabajo para un veh铆culo en el taller.
        * 'Planificado':  El trabajo ha sido presupuestado y est谩 pendiente de iniciar.
        * 'Iniciado':     El trabajo sigue su planificaci贸n y es iniciado.
        * 'Terminado':    El trabajo ha sido finalizado correctamente.
        * 'Anulado':      El trabajo ha sido anulado debido a una complicaci贸n, obligaci贸n u otras causas.
      type: string
      default: 'Creado'
      enum: ["Creado", "Planificado", "Iniciado", "Terminado", "Anulado"]
      x-faker: helpers.arrayElement([ 'Creado', 'Planificado', 'Iniciado', 'Terminado', 'Anulado' ])
      
    HTTP_Problem:
      type: object
      externalDocs:
        url: https://tools.ietf.org/html/rfc7807
      description: |
        Problem Details for HTTP APIs
        [https://tools.ietf.org/html/rfc7807](https://tools.ietf.org/html/rfc7807)
      properties:
        type:
          type: string
          format: uri
          description: A URI reference [RFC3986] that identifies the problem type
        title:
          type: string
          description: short human-readable summary of the problem type
        status:
          type: number
          description: HTTP status code
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence of the problem
        instance:
          type: string
          format: uri
          description: >
            A URI reference that identifies the specific occurrence of the problem.
            It may or may not yield further information if dereferenced.
  
    Link:
      description: Enlace de relaci贸n
      title: ' Link'
      type: object
      properties:
        href:
          description: URL del enlace
          type: string
          format: uri
          x-faker: internet.url
        rel:
          description: "Relaci贸n del recurso enlazado con el actual. Contiene una lista de tipos
                    de relaciones separados por espacio."
          type: string
          x-faker: lorem.words
      example:
        href: https://www.example.com/path/resource
        rel: relAction1 relAction2    

  headers:
    ETag:
      description: "Entity Tag (identificador 煤nico proporcionado para validaci贸n de cach茅)"
      schema:
        type: string
        pattern: "[0-9a-f]*"
        example:
          33a64df551425fcc
    Allow:
      description: Lista de m茅todos HTTP soportados
      schema:
        type: string
      example: GET, DELETE, PUT, OPTIONS
    Location:
      description: '`URI` del nuevo recurso'
      schema:
        type: string
        format: uri
        x-faker: internet.url
        example:
          https://example.com/api/v1/plataformas/P01-001-A

  #requestBodies:

  responses:
  # A帽adir s贸lo las responses que vayamos a utilizar.
    Response_400:
      description: '`BAD REQUEST` El identificador 煤nico ya existe.'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/HTTP_Problem'
          examples:
            response-http-400:
              $ref: '#/components/examples/response-http-400'
    Response_404:
      description: '`NOT FOUND`: recurso no disponible'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/HTTP_Problem'
          examples:
            response-http-404:
              $ref: '#/components/examples/response-http-404'
    Response_409:
      description: '`CONFLICT`: el recurso no re煤ne las condiciones adecuadas'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/HTTP_Problem'
          examples:
            response-http-404:
              $ref: '#/components/examples/response-http-409'
    Response_412:
      description: '`PRECONDITION FAILED`: El ETag proporcionado no est谩 actualizado'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/HTTP_Problem'
          examples:
            response-http-412:
              $ref: '#/components/examples/response-http-412'
    Response_422:
      description: '`UNPROCESSABLE ENTITY` Falta alguno de los atributos obligatorios o son incorrectos.'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/HTTP_Problem'
          examples:
            response-http-422:
              $ref: '#/components/examples/response-http-422'

  parameters:
    ifMatchParam:
      name: If-Match
      in: header
      description: ETag actual del recurso que se desea modificar
      required: true
      schema:
        type: string
        pattern: "[0-9a-f]*"
    orderParam:
      name: order
      in: query
      description: 'Criterio de ordenaci贸n: `id` | `tipo_envergadura`'
      required: false
      allowEmptyValue: false
      schema:
        type: string
        enum:
          - id
          - tipo_envergadura
    orderingParam:
      name: ordering
      in: query
      description: 'Ordenaci贸n: `ASC` | `DESC`'
      required: false
      allowEmptyValue: false
      schema:
        type: string
        enum:
          - ASC
          - DESC
    pageParam:
      name: page
      in: query
      description: 'N煤mero de p谩gina'
      required: false
      allowEmptyValue: false
      schema:
        type: integer
        minimum: 1
        
    notificacionId:
      name: notificacion_id
      in: path
      description: Identificador 煤nico de notificaci贸n
      required: true
      schema:
        $ref: '#/components/schemas/Id_Notificacion'
    trabajoId:
      name: trabajo_id
      in: path
      description: Identificador 煤nico de trabajo
      required: true
      schema:
        $ref: '#/components/schemas/Id_Trabajo'

  examples:
    notificaciones-example:
      value:
        notificaciones:
          - { "notificacion": { "id": "0000-0000-01", "id_trabajo": "0000-0000", "estado" : "Creado",
                "links": {
                  "parent": { "href": "https://example.com/api/v1/notificaciones", "rel": "aeronave_post aeronave_cget"},
                  #"self": { "href": "https://example.com/api/v1/aeronaves/EC-JGR", "rel": "aeronave_get aeronave_put" }
                }}}
          - { "notificacion": { "id": "0000-0001-01", "id_trabajo": "0000-0001", "estado" : "Anulado",
                "links": {
                  "parent": { "href": "https://example.com/api/v1/notificaciones", "rel": "aeronave_post aeronave_cget"},
                  #"self": { "href": "https://example.com/api/v1/aeronaves/EC-JGR", "rel": "aeronave_get aeronave_put" }
                }}}
        links: {
          "prevPage": { "href": "https://example.com/api/v1/noitificaciones?page=6", "rel": "prevPage" },
          "nextPage": { "href": "https://example.com/api/v1/notificaciones?page=8", "rel": "nextPage" }
        }
    response-http-400:
      value:
        type: https://httpstatuses.com/400
        title: UNPROCESSABLE ENTITY
        status: 400
        detail: El identificador 煤nico ya existe.
        instance: about:blank
    response-http-401:
      value: 
        type: https://httpstatuses.com/401
        title: UNAUTHORIZED
        status: 401
        detail: La solicitud requiere autenticaci贸n y el usuario no est谩 autorizado para acceder al recurso.
        instance: about:blank
    response-http-403:
      value: 
        type: https://httpstatuses.com/403
        title: FORBIDDEN
        status: 403
        detail: La solicitud se ha realizado correctamente, pero el servidor se niega a cumplirla. Esto puede ser debido a que el usuario no tiene los permisos necesarios para acceder al recurso.
        instance: about:blank   
    response-http-404:
      value:
        type: https://httpstatuses.com/404
        title: NOT FOUND
        status: 404
        detail: El recurso solicitado no est谩 disponible.
        instance: about:blank
    response-http-409:
      value:
        type: https://httpstatuses.com/409
        title: NOT FOUND
        status: 409
        detail: El recurso no re煤ne las condiciones requeridas para la operaci贸n.
        instance: about:blank
    response-http-412:
      value:
        type: https://httpstatuses.com/412
        title: PRECONDITION FAILED
        status: 412
        detail: El ETag proporcionado no est谩 actualizado.
        instance: about:blank
    response-http-422:
      value:
        type: https://httpstatuses.com/422
        title: UNPROCESSABLE ENTITY
        status: 422
        detail: Falta alguno de los atributos obligatorios o contiene un valor no admitido.
        instance: about:blank
    response-http-500:
      value:
        type: https://httpstatuses.com/500
        title: INTERNAL SERVER ERROR
        status: 500
        detail: Se ha producido un error interno en el servidor al procesar la solicitud.
        instance: about:blank